* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  background-color: beige;
}

header nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

header nav a {
  color: rgb(114, 114, 68);
  text-decoration: none;
}

.title-page {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.active {
  color: rgb(173, 173, 154);
  text-decoration: none;
}