* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  background-color: beige;
}

header nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

header nav a {
  color: rgb(51, 51, 28);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

tr,
th,
td {
  text-align: center;
  padding: 10px 20px;
  background-color: beige;
  border: 2px, solid, black;
}

td.todo {
  background-color: rgb(255, 133, 133);
}

td.doing {
  background-color: rgb(255, 255, 133);
}

td.done {
  background-color: rgb(112, 193, 112);
}

.table-task {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.title-page {
  text-align: center;
  margin: 30px 0;
}

.active {
  color: rgb(112, 112, 90);
  text-decoration: none;
}