* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

/* -------------------------- HEADER -------------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  background-color: beige;
}

header nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

header nav a {
  color: rgb(51, 51, 28);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.active {
  color: rgb(112, 112, 90);
  text-decoration: none;
}

/* -------------------------- PAGE TASKS LIST -------------------------- */

/* ------------- TABLE ------------- */

tr,
th,
td {
  text-align: center;
  padding: 10px 20px;
  background-color: beige;
  border: 2px, solid, black;
}

td.todo {
  background-color: rgb(255, 133, 133);
}

td.doing {
  background-color: rgb(255, 255, 133);
}

td.done {
  background-color: rgb(112, 193, 112);
}

.table-task {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: rgb(85, 85, 85);
}

/* -------------------------- PAGE ADD TASK -------------------------- */

.add-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.add-task input,
.add-task select,
.add-task textarea,
button {
  padding: 5px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
}

label h3 {
  margin-top: 20px;
}

/* -------------------------- PAGE DETAIL TASK -------------------------- */

.detail-page {
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}

/* -------------------------- MODAL -------------------------- */

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  background-color: beige;
  color: black;
}

.selection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* -------------------------- GENERAL CLASSES -------------------------- */

.title-page {
  text-align: center;
  margin: 30px 0;
}

.wd-400 {
  width: 400px;
}

.wd-150 {
  width: 150px;
}

.h-100 {
  height: 100px;
}